body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.backgr {
    background-image: url(img/GIRL_BACKGROUND\ 1.svg);
    width: 75%;
    height: 650px;
}

.container {
    margin-top: 5%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 30%;
    text-align: center;
    background-color: #FFF1EE;
}

main {
    background-color: white;
    height: 90%;
    width: 50%;
    position: relative;
    left: 25%;
    top: 5%;

    img {
        position: relative;
        left: 5%;
        top: 5%;
        height: 150px;
    }
}

#quoteButton {

    height: 100px;
    width: 250px;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #FFF1EE;
    border-style: none;

    &:hover {
        background-color: #FFD9D8;
        transition-duration: 0.5s;
    }

    &:active {
        background-color: #FF9588;
    }
}

#quoteDisplay {
    padding: 5%;
    font-size: 20px;
    height: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 450px) {
    .backgr {
        width: 100%;
        height: 350px;
    }

    .container {
        width: 80%;
        font-size: 40px;
    }

    main {
        width: 90%;
        height: 90%;
        left: 5%;

        img {
            height: 100px;
        }
    }

}